/Semana1/ProyectosLaboratorio/nbproject/private/
/Semana1/ProyectosLaboratorio/build/
/Semana2/ProyectosLaboratorio/nbproject/private/
/Semana2/ProyectosLaboratorio/build/
/Semana3/ProyectosLaboratorio3/nbproject/private/
/Semana3/ProyectosLaboratorio3/build/
/Semana4/Lab4/nbproject/private/
/Semana4/Lab4/build/
/Semana 5 - Examen/Cerrato_Aaron_Exam1/nbproject/private/
/Semana 5 - Examen/Cerrato_Aaron_Exam1/build/
